################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Console_AirplaneSimulator/.vs/Console_AirplaneSimulator/v16/Server/sqlite3
/SimuladorDeAeroporto/.vs/SimuladorDeAeroporto/v16/Server/sqlite3
/.vs/slnx.sqlite
